div.content {
	background-color: #C8C8C8;
}

img {
	max-width: 100%;
}

img.helpvis {
	background: #C3C3C3;
}

strong.lag {
	color: red;
	font-weight: normal;
	border-bottom: 1px dashed red;
}

strong.lag b {
	font-size:80%;
}

strong.lag b:before {
	content: "\026A0";
}

p.warped {
	transform: skewX(45deg) rotate(-3deg) translateY(-19px);
	font-family: impact;
	text-shadow: -10px 16px 4px #005691;
	padding-left: 60px;
}

p.warped span{
	display: inline-block;
}

span.morewarped {
	transform: skewX(12deg) rotate(30deg) translate(05px,15px);
}

.warped:hover span:not(.morewarped) {
	transform: rotate(180deg);
	text-shadow: 10px -16px 4px #005691;
}

p.warped::selection {
	transform: scale(3);
	color: red;
	font-family: monospace;
	text-shadow: none

}

span.morewarped::selection {
	color: blue;
}

.jaeger:hover::before {
	content: 'Attack on ';
}

span.dgIcon {
	background-image: url("doorwatchicons.png");
	background-color: #AEAEAE;
	outline: 2px solid #AEAEAE;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: .3em;
	margin-left: .5px;
	image-rendering: pixelated;
}

span.dgIcon.dgRoom {
	width: 32px;
	background-position: -16px 0px;
}

span.dgIcon.dgSync {
	background-position: 0px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgDesync {
	background-position: -16px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgFixed {
	background-position: -32px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgQuad {
	background-position: -64px -16px;
}

span.dgIcon.dgFlags {
	background-position: -144px -16px;
}

span.dgIcon.dgHeart {
	background-position: 0px -32px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgKey {
	background-position: -16px -32px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgChest {
	background-position: -80px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgDoor {
	background-position: -160px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgQuadUL {
	background-position: -32px -32px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgQuadUR {
	background-position: -48px -32px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgQuadBL {
	background-position: -64px -32px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgQuadBR {
	background-position: -80px -32px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgOverlay {
	background-position: -128px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgRAMOverlay {
	background-position: -176px -16px;
}

span.dgIcon.dgROMOverlay {
	background-position: -192px -16px;
}

span.dgIcon.dgWarning {
	background-position: -96px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgCritical {
	background-position: -112px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgCamera {
	background-position: -48px -16px;
	background-color: transparent;
	outline-color: transparent;
}

span.dgIcon.dgXleft {
	background-position: -144px 0px;
}

span.dgIcon.dgXright {
	background-position: -160px 0px;
}

span.dgIcon.dgYtop {
	background-position: -176px 0px;
}

span.dgIcon.dgYbottom {
	background-position: -192px 0px;
}

span.menuIcon {
	background-image: url("menuicons.png");
	outline: 2px solid #282828;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: .3em;
	margin-left: .5px;
	image-rendering: pixelated;
}

span.menuIcon.menuSubmenu {
	background-position: 0px 0px
}

span.menuIcon.menuCommand {
	background-position: -16px 0px
}

span.menuIcon.menuToggle {
	background-position: -32px 0px
}

span.menuIcon.menuSelection {
	background-position: -48px 0px
}

span.menuIcon.menuNumfield {
	background-position: -64px 0px
}

span.menuIcon.menuPreset {
	background-position: -80px 0px
}

span.menuIcon.menuBinding {
	background-position: -96px 0px
}

ul.fontList > li > span.fontName {
	display: inline-block;
	width: 50%;
}

ul.fontList > li > span.fontPreview {
	display: inline-block;
	background-image: url("fontpreviews.png");
	background-color: #489848;
	outline: 2px solid #489848;
	width: 256;
	height: 16px;
	vertical-align: sub;
	image-rendering: pixelated;
}

ul.fontList > li:hover > span.fontName {
	list-style: none;
	font-weight: bold;
}

ul.fontList > li:hover > span.fontPreview {
	transform: scale(2.0) translate(65px, 0);
	background-color: #8080F0;
	outline: 2px solid #8080F0;
}

span.fontPreview.font1 {
	background-position: 0px 0px;
}

span.fontPreview.font2 {
	background-position: 0px -16px;
}

span.fontPreview.font3 {
	background-position: 0px -32px;
}

span.fontPreview.font4 {
	background-position: 0px -48px;
}

span.fontPreview.font5 {
	background-position: 0px -64px;
}

span.fontPreview.font6 {
	background-position: 0px -80px;
}

span.fontPreview.font7 {
	background-position: 0px -96px;
}

span.fontPreview.font8 {
	background-position: 0px -112px;
}

span.fontPreview.font9 {
	background-position: 0px -128px;
}

span.fontPreview.font10 {
	background-position: 0px -144px;
}

span.fontPreview.font11 {
	background-position: 0px -160px;
}

span.fontPreview.font12 {
	background-position: 0px -176px;
}

span.fontPreview.font13 {
	background-position: 0px -192px;
}

span.fontPreview.font14 {
	background-position: 0px -208px;
}

span.fontPreview.font15 {
	background-position: 0px -224px;
}

span.fontPreview.font16 {
	background-position: 0px -240px;
}

span.fontPreview.font17 {
	background-position: 0px -256px;
}

span.fontPreview.font18 {
	background-position: 0px -272px;
}

span.fontPreview.font19 {
	background-position: 0px -288px;
}

span.fontPreview.font20 {
	background-position: 0px -304px;
}

span.fontPreview.font21 {
	background-position: 0px -320px;
}

span.fontPreview.font22 {
	background-position: 0px -336px;
}

span.snesButton {
	font-weight: 600;
	font-variant: small-caps;
}

span.releaseDate {
	font-variant: small-caps;
	font-size: 70%;
}

sup.badge {
	font-weight:bold;
	font-family:consolas;
	color:white;
	border-radius:6px;
	padding: 0 6px;
}
sup.sa1-badge {
	background-color:#0089FF;
	border:1px solid #562AB3;
}

sup.lag-badge {
	background-color:#FF8900;
	border:1px solid #B32A56;
}

ul, dl {
	margin-block-start: 0;
}

dd {
	padding-left: 30px;
	margin-inline-start: 0;
	margin-block-start: 0;
}

dt {
	padding-left: 10px;
}

dt:after {
	content: ":";
}
strong.lag:before,
dt:not(:first-child):before {
	content: " ";
	display: block;
}

dt:first-child:before {
	content: " ";
	display: block;
	margin-top: -1.2em;
}

dt:first-child {
	padding-left: 20px;
}

dt:first-child:before {
	height: 0;
	line-height: 0;
}

dl:not(.dinkyList):not(.subDefinition) > dt:before {
	margin-top: 15px;
}


dl.subDefinition {
	padding-left: 10px;
	font-size: 100%;
}

dl.subDefinition dt,
dl.inlineDefinition:not(.dinkyList) dt {
	display: contents;
	font-size: 100%;
}

dl.inlineDefinition.dinkyList {
	padding-left:30px;
}

dl.subDefinition dt,
dl.inlineDefinition.dinkyList dt {
	display: inline;
	padding-left: 30px;
}

dl.subDefinition dd,
dl.inlineDefinition dd {
	display: inline;
	padding-left: 5px;
}

dl.inlineDefinition dd ol {
	display: inline;
	padding-left: 0;
}

dl.inlineDefinition dd li {
	display: inline
}

dl.inlineDefinition dd ol>li:not(:last-child):after {
	content: ",";
}

strong.lag {
	color: red;
	font-weight: normal;
	border-bottom: 1px dashed red;
}

strong.lag b {
	font-size:80%;
}

strong.lag b:before {
	content: "\026A0";
}

ul.colorList {
	list-style: none;
}

ul.colorList > li.colorDefine > .colorBlock {
	display: inline-block;
	padding: 0 4px;
	width: 90px;
	text-align: center;
	height: 20px;
}